<ion-view title = "Viewer">
  <ion-content class = "padding detail">
  <section>
   <div id="viewer"></div>
   </div>
  </section>
    <section id= "list" style = "padding-top:560px;">
    <ul class = "list-inline">
     <li> Camera </li>
     <li> Camera </li>
     <li> Camera </li>
     <li> Camera </li>
    </ul>
   <br/>
    <section class = "updates">
     <div class = "row ">
      <div class = "col noPadding">
       <img class = "small-image" src = "img/small-image-1.png"/>
      </div>
      <div class = "col  noPadding">
        <img class = "small-image" src = "img/small-image-2.png"/>
      </div>
     </div>
     <div class = "row">
      <div class = "col">
       <img class = "small-image" src = "img/small-image-3.png"/>
      </div>
      <div class = "col">
        <img class = "small-image" src = "img/small-image-4.png"/>
      </div>
     </div>
    <div style = "line-height:0px">
     <div class = "row noPadding">
       <div class = "col-50">
       <img class = "small-image" src = "img/small-image-5.png"/>
       </div>
     </div>
     <div class = "row noPadding ">
       <div class = "col-50">
       <img class = "small-image" src = "img/small-image-6.png"/>
       </div>
     </div>
     </div>
    </section>
    <div class = "notification" style = "margin-top:10px;">
      <p class = "project-text">Camera first View</p>
      <p class = "project-text">Camera second View</p>
    </div>
    </section>
 </ion-content>
</ion-view>
