<ion-view title = "Home">
 <ion-nav-buttons side = "secondary">
    <a href = "#/detail" class="button button-dark">
      Viewer
    </a>
  </ion-nav-buttons>
  <ion-content class = "padding">
    <div class = "row ">
    <div class = " col col-40 noPadding" class = 'image-geo img-responsive'>
     <img src = "img/tile1.png" width = "100%" />  
    </div>
   <div class = "col col-60 noPadding">
     <img  width = "100%" src = "img/tile2.png"/>
    </div>
     </div>
   <div class = "col-60" class = "image-mok">
    </div>
   </div>
  <section>
   <section class = "reduction">
    <div class = 'water-proof'>
     <div class = "reduce">
      <h2 >14% reduction in 
          structure steel</h2>
      <img src = "img/bot.png" class ="img-bot"/>
      </div>
      <div class = "water-proof-img">
       <img src = "img/tile4.png" >
       </div>
    </div>
    <div class = 'brick'>
       <div class = "inside-brick">
        <img src = "img/tile3.png"/>
       </div>
       <div class = "paint-text">
         <h2 class = "update-paint">Update paint specifications to meet EU standards</h2>
       </div>
     </div>
   <div class = "wall-text">
    <div>
         <h2 class = "pattern-text">Brick Pattern on exterior walls has changed</h2>
     </div>
     <img class = "text-bot-img" src = "img/bot.png"/>
     </div>
   </section>
  <section id = "footer">
     <p class = " project-text padding" >2D Viewer</p>
     <p class = " project-text padding" >3D Viewer</p>
   </section>
  </ion-content>
</ion-view>

































